@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Courier Prime', 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f5f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;
  margin-bottom: 0px;
  padding-right: 50px;
}

.hero {
  text-align: center;
  padding-top: 15%;

}

.name {
  font-size: 85px;
  margin-bottom: 0;
  font-weight: lighter;
}

.fullstack {
  font-size: 30px;
  margin-top: 0;
  font-weight: lighter;
}

h1 {
  font-family: 'Montserrat';
  font-weight: lighter;
}

a:visited {
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

ul {
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 10px;
  font-size: 25px;
}

li.about-me:hover {
  border: 1px solid black;
  background-color: #ed593f;
  padding: 8px;
}

li.projects:hover {
  border: 1px solid black;
  background-color: #808220;
  padding: 8px;
}

li.contact:hover {
  border: 1px solid black;
  background-color: #F3A732;
  padding: 8px;
}

.about-me-container {
  display: flex;
  padding: 0;
  border-bottom: 1px solid black;
}

.about-me-container .left {
  width: 60%;
  border-right: 1px solid black;
  padding: 50px;
  font-size: 25px;
}

.about-me-container .right {
  width: 40%;
  text-align: center;
}

.menlayla {
  margin-bottom: 0px;
}

.about-me-container .left h1 {
  font-size: 80px;
  font-weight: lighter;
}

.about-me-container .left h1 strong {
  color: #F3A732
}

.tech-stack {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: solid 1px black;
  margin-bottom: 0;
}

.tech-stack-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 70px;
  color: #ED593F;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
}

.icons .icon {
  margin: 20px;
  width: 180px;
  height: 180px;
}

.icons .icon:hover {
    transform: scale(1.2);
}

.micro-to-fullstack {
  background-color: #ed593f;
  color: white;
  width: 40%;
  padding: 80px 60px;
  border-right: 1px solid black;
  font-size: 50px;
}

.micro-to-fullstack h1, h4 {
  margin: 0px;
  text-align: center;
}

.micro-to-fullstack-container {
  display: flex;
}

.micro-to-fullstack-text {
  padding: 80px;
  font-size: 25px;
  display: flex;
  align-items: center;
}
